<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!-- 控制台输出日志 -->  
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>
            <pattern>%d [Thread:%thread] %logger.%M\(%file:%line\) %-5level - %m%n</pattern>
        </encoder>
    </appender>

	<appender name="ServerFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
            <level>DEBUG</level>
        </filter>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/logs/%d{yyyy-MM-dd}/${log_name}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d [Thread:%thread] %logger.%M\(%file:%line\) %-5level - %m%n</pattern>
        </encoder>
    </appender> 	
	
	<appender name="ServerWarnningFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
            <level>WARN</level>  
        </filter>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/logs/%d{yyyy-MM-dd}/${log_name}.warn.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d [Thread:%thread] %logger.%M\(%file:%line\) %-5level - %m%n</pattern>
        </encoder>
    </appender> 

	<appender name="ServerErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
            <level>ERROR</level>  
        </filter> 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/logs/%d{yyyy-MM-dd}/${log_name}.error.log</fileNamePattern>
        </rollingPolicy> 
        <encoder>
            <pattern>%d [Thread:%thread] %logger.%M\(%file:%line\) %-5level - %m%n</pattern>
        </encoder>
    </appender> 

	<appender name="PlayerSqlLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/logs/%d{yyyy-MM-dd}/${log_name}PlayerSqlLog.error.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d - %m%n</pattern>
        </encoder>
	</appender>
	
	<appender name="BPLog" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			  <key>filename</key>
			  <defaultValue>unknown</defaultValue>
		</discriminator>
		<sift>
			<appender name="BPLog_${filename}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>${bp_log_path}/${filename}.log.%d{yyyy-MM-dd}</fileNamePattern>
				</rollingPolicy>
				<encoder>
                    <pattern>%m%n</pattern>
               </encoder>
			</appender>
		</sift>
	</appender>
	
	<appender name="EFunLog" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			  <key>efunfilename</key>
			  <defaultValue>unknown</defaultValue>
		</discriminator>
		<sift>
			<appender name="EFunLog_${efunfilename}" class="ch.qos.logback.core.rolling.RollingFileAppender">  
			 <file>${efun_log_path}/${efunfilename}.txt</file>  
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			  <!-- rollover daily -->  
			  <fileNamePattern>${efun_log_path}/${efunfilename}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>  
			  <maxHistory>5</maxHistory>   
			  <timeBasedFileNamingAndTriggeringPolicy  
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
				<!-- or whenever the file size reaches 100MB -->  
				<maxFileSize>100MB</maxFileSize>  
			  </timeBasedFileNamingAndTriggeringPolicy>  
			</rollingPolicy>  
			<encoder>  
			  <pattern>%msg%n</pattern>  
			</encoder>  
			</appender> 
		</sift>
</appender>
	
	<appender name="StatisticsFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/logs/%d{yyyy-MM-dd}/${log_name}statistics.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
	</appender>
	
	
	<!-- This file appender is used to output aggregated performance statistics -->
    <appender name="perf4jFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <Pattern>%date %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log_path}/logs/%d{yyyy-MM-dd}/${log_name}PerfStats.log</FileNamePattern>
        </rollingPolicy>
    </appender>

	<appender name="CoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="10000"/>
		 <appender-ref ref="perf4jFileAppender"/>
    </appender>

	<logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CoalescingStatistics"/>
    </logger>
	
	<logger name="StatisticsRunnable"  additivity="false">
	    <level value="all"/>
		<appender-ref ref="StatisticsFile"/>
	</logger>
	
	<logger name="PlayerSqlLog"  additivity="false">
	    <level value="all"/>
		<appender-ref ref="PlayerSqlLogFile"/>
	</logger>
	
	<logger name="BPLogFile"  additivity="false">
	    <level value="all"/>
		<appender-ref ref="BPLog"/>
	</logger>
	
	<logger name="Efun_RechargeLoge"  additivity="false">
	    <level value="all"/>
		<appender-ref ref="EFunLog"/>
	</logger>

	<logger name="com.kodgames">
		<appender-ref ref="Console"/>
		<appender-ref ref="ServerFile"/>
		<appender-ref ref="ServerErrorFile"/>
		<appender-ref ref="ServerWarnningFile"/>
	</logger>

    <root level="debug">
    </root>
</configuration>